<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="/js/cart.js"></script>
    <script src="https://kit.fontawesome.com/845b7f6704.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    
  

   
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet"> 

</head>
<body>
    <nav class="navbar">

       
        <div  class="nav-container">
            <div class="logo">
              <a href="/admin"> <img height="70px" width="127px" src="/images/logo.jpg" alt="logo"></a> 
        </div> 
        <div class="navlist">
            <ul>
                <li><a href="/admin/addflight">Add Flight</a></li>
              
                <li><a href="/admin/allbookings">All Bookings</a></li>
                
              
                <li><a href="/logout">Sign Out</a></li>
               
               
            </ul>
        </div>
           

        </div>
    </nav>
    <div style="margin-top: 50px;">
        <p  class="card-title text-center shadow mb-3 rounded">Flight Details</p>
    
       </div>
       <div style="margin-top: 50px;">
    <table style="margin-bottom: 20px;" id="customers">
       
        <tr>
            <th>Airlines</th>
            <th>Flight Name</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Date</th>
          <th>Time</th>
          <th>Fare</th>
          <th>Class</th>
          <th>Actions</th>
        </tr>
       
       <%flights.forEach((flight)=>{%>
        <tr>
               
               
            <td><%=flight.airlines%></td>
            <td><%=flight.flightname%></td>
            <td><%=flight.source%></td>
            <td><%=flight.destination%></td>
            <td><%=flight.date%></td>
            <td><%=flight.time%> IST</td>
            <td>₹<%=flight.fare%></td>
            <td><%=flight.flightclass%></td>
            <td><a href="/admin/edit/<%=flight.id%>" id="ed"><img height="20px" width="20px" src="/images/edit.png" alt=""></a>
                <a href="/admin/del/<%=flight.id%>" id="del"><img height="20px" width="20px" src="/images/delete.png" alt=""> </a>
          </td>
          </tr>
  
      <% })%>
            
      
     
     
       
          
     
   
       
      </table>
    </div>
 
    </body>
    </html>
